# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Here are somme of the objectives of this notebook :** 
- List popular languages for data science
- List commonly used libraries used by data scientists
- List data science tools
- Give some exemples of aruthmetic expressions in Python

Some of the popular languages for data scientists are : 
1. R
2. Python
3. Julia
4. SQL

Some of the commonly used libraries used by Data Scientists include for example : 
1. Pandas
2. Numpy
3. Beautifulsoup
4. GGplot
5. Matplotlib

| Data Science Tools|
|-------------------|
|Seaborn|
|Docker|
|MySQL|

### Below are a few examples of evaluating arithmetic expressions in Python

This is a simple arithmetic expression to multiply then add integers

In [4]:
(3*4)+5

17

This will convert 200 minutes to hours by dividing by 60

In [6]:
200/60

3.3333333333333335

## Author
CÃ©line Chicot